{% extends 'todo/main.html'%}
{% block content %}
<div class="header-bar">
  <div>
    <h1> Hello {{ request.user|title }}</h1>
    <h3>You have <i>{{count}} incomplete Task{{ count|pluralize:'s'}}</i></h3>
  </div>
  {% if request.user.is_authenticated %}
<a href="{% url 'login' %}">Log Out</a>
</div>

{% else %} 

<a href="{% url 'login' %}">Log In</a>

{% endif %}
<div id="search-add-wrapper">
  <form action="" method="get">
    <input type="text" name="search-area" placeholder="Search Tasks">
    <input class="button" type="submit" value="Search Task">
  </form>
  <a id="add-link" href="{% url 'task-create'%}">&#x2b;</a>
</div>
 <div class = "task-items-wrapper">
  {% for tasks in task %}
  <div class = "task-wrapper">
    {% if tasks.complete %}
    <div class = "task-title">
    <div class = "task-complete-icon">     
    </div>
    <i><s><a href="{% url 'task-update' tasks.id %}">{{tasks.title }}</a></s></i>
  </div>
  <a class="delete-link" href="{% url 'task-delete' tasks.id %}">&#215;</a>
    {% else %}
    <div class = "task-title">
      <div class = "task-incomplete-icon">     
      </div>
      <a href="{% url 'task-update' tasks.id %}">{{tasks.title }}</a>
    </div>
    <a class="delete-link" href="{% url 'task-delete' tasks.id %}">&#215;</a>
      
      {% endif %}
  </div>
 </div>
 {% empty %}
 <h3>No Items in the List</h3>
 <a href="{% url 'task-create'%}">Add New Item</a>
 {% endfor %}

</div>
{% endblock content %}
